/* Header */
body {
    background-color: #000000;
}

.title {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-family: 'Tilt Warp', cursive;    
    font-size: 300%;
    color: #000000;
}

.title a {
    font-family: 'Anton', sans-serif;
    font-family: 'Tilt Warp', cursive;
    color: #000000;
    text-decoration-line: none;
    padding-top: 55px;
    padding-left: 35px;
}

.title a:hover {
    color: #F0A04B;
}

/* Section */
section {
    background-color: #000000;
    margin-top: 120px;
}

img.twin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 200%;
    max-width: 100%;
}

.flex1 article {
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
}

.flex1 article h2 {
    font-family: serif;
    font-size: 250%;
    text-align: center;
    color: #ffffff;
}

.flex1 article p {
    font-family: serif;
    font-size: 150%;
    color: #ffffff;
}

.flex2 {
    display: flex;
    padding-left: 60px;
    padding-top: 90px;
}

img.silver {
    height: 90%;
    width: 90%;
    max-width: 100%;
}

img.asian {
    height: 90%;
    width: 90%;
    max-width: 100%;
}

.silvertext {
    font-family: serif;
    font-size: 130%;
    color: #ffffff;
    padding-left: 250px;
    text-decoration-line: none;
}

.asiantext {
    font-family: serif;
    font-size: 130%;
    color: #ffffff;
    padding-left: 250px;
    text-decoration-line: none;
}

.silvertext:hover {
    color: #F0A04B;
}

.asiantext:hover {
    color: #F0A04B;
}

/* Footer */
.flex3 {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
}

.flex3 div, a {
    font-family: serif;
    color: #000000;
}

.flex3 div a:hover {
    color: #F0A04B;
}

.flex3 .email, .social {
    padding-top: 100px;
    text-align: center;
}

.email a {
    text-decoration-line: none;
}

.where {
    text-align: center;
}

.map {
    padding-bottom: 20px;
}

.social a {
    text-decoration-line: none;
}